In [3]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, date
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 88)

In [5]:
s = pd.Series([10, 11, 12, 13, 14])
s

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [6]:
#Добавление одинакового значения в 5 строк
pd.Series([2]*5)

0    2
1    2
2    2
3    2
4    2
dtype: int64

In [7]:
#list() функция разделяющая строку на элементы списка
pd.Series(list('abcde'))

0    a
1    b
2    c
3    d
4    e
dtype: object

In [8]:
pd.Series(['Mike': 'Dad',
          'Marcia': 'Mom',
          'Mikael': 'Son',
          'Bleu': 'Best doggie ever'])

SyntaxError: invalid syntax (3245365015.py, line 1)

In [ ]:
# Создание последовательности от 4 до 8
pd.Series(np.arange (4, 9))

In [ ]:
# Создание последовательности от 0 до 9 с количеством шагов 5
pd.Series(np.linspace(0, 9, 5))

In [ ]:
# генерируем случайные числа
np.random.seed(12345) #всегда генерирует одни и те же числа
# создаем серию из 5 нормально распределенных случайных чисел
pd.Series(np.random.normal(size = 5))

In [ ]:
# Создаем объект Series состоящий из одного элемента
s = pd.Series(2)
s

In [10]:
# создаем объект Series и умножаем его на 2
s = pd.Series(np.arange(0, 5))
s * 2

0    0
1    2
2    4
3    6
4    8
dtype: int32

In [11]:
# получаем значение в объекте Series
s = pd.Series([1, 2, 3])
s.values

array([1, 2, 3], dtype=int64)

In [12]:
#показываем что результат это массив Numpy
type(s.values)

numpy.ndarray

In [13]:
# получаем индекс объекта Series
s.index

RangeIndex(start=0, stop=3, step=1)

In [14]:
#создаем серию проверяем количество элементов в массиве функцией len
s = pd.Series([0, 1, 2, 3])
len(s)

4

In [15]:
# проверка кол-ва элементов функцией .size
s.size

4

In [16]:
# .shape это кортеж с одним значением
s.shape

(4,)

In [17]:
labels = ['Mike', 'Marcia', 'Mikael', 'Bleu']
role = ['Dad', 'Mom', 'Son', 'Dog']
s = pd.Series (labels, index = role)
s

Dad      Mike
Mom    Marcia
Son    Mikael
Dog      Bleu
dtype: object

In [18]:
s.index
s['Dad']

'Mike'

In [19]:
# Создаем объект Series
s = pd.Series(np.arange(1, 10), index = list('abcdefghi'))
# выводим первые 3 объекта
s.head(3)
# выводим последние 3 объекта
s.tail(3)

g    7
h    8
i    9
dtype: int32

In [20]:
# вывод объектов по индексам
s.take([1, 5, 8])

b    2
f    6
i    9
dtype: int32

In [30]:
# создание объекта
s1 = pd.Series(np.arange(10, 15), index = list('abcde'))
s1

a    10
b    11
c    12
d    13
e    14
dtype: int32

In [24]:
# поиск по позиции
s1.iloc[[0, 2]]

a    10
c    12
dtype: int32

In [66]:
s1.loc[['a', 'c']]

KeyError: "['c'] not in index"

In [33]:
s = pd.Series(np.arange (100, 110), index= np.arange(10, 20))
s

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
18    108
19    109
dtype: int32

In [36]:
# выводим срез, содержащий элементы индекса с 1 по 5
#s[1:6] эквивалентно с s.iloc[[1, 2, 3, 4, 5]]
s.iloc[[1, 2, 3, 4, 5]]

11    101
12    102
13    103
14    104
15    105
dtype: int32

In [37]:
# вывод данных, с 1 по 6 с шагом в 2
s[1:6:2]

11    101
13    103
15    105
dtype: int32

In [38]:
# срез первых пяти элементов s[:5] эквивалентно s.head(5)
s.head(5)

10    100
11    101
12    102
13    103
14    104
dtype: int32

In [39]:
# вывод данных в обратном порядке
s[::-1]

19    109
18    108
17    107
16    106
15    105
14    104
13    103
12    102
11    101
10    100
dtype: int32

In [40]:
# вывод каждого второго элемента в обратном порядке, начиная с 4 позиции
s[4::-2]

14    104
12    102
10    100
dtype: int32

In [46]:
# вывод последних4 строк s[-4:] == s.tail(4)
#s[-4:]
s.tail(4)

16    106
17    107
18    108
19    109
dtype: int32

In [47]:
# вывод всех, кроме 4 последних строк
s[:-4]

10    100
11    101
12    102
13    103
14    104
15    105
dtype: int32

In [72]:
# вывод в последних 4 строк кроме последней s[-4:-1] == s.tail(4).head(3)
s[-4:-1]

16    106
17    107
18    108
dtype: int32

In [73]:
s1 = pd.Series([1, 2], index = ['a', 'b'])
s2 = pd.Series([4, 3], index = ['b', 'a'])
# значения строк суммируются по индексу 
s3 = s1 + s2
s3

a    4
b    6
dtype: int64

In [76]:
# создание таблицы с индексом как в таблице s1 со значением 2, и умножение по индексу
t = pd.Series(2, s1.index)
s4 = s1 * t
s4

a    2
b    4
dtype: int64

In [77]:
s5 = pd.Series([5, 6], index = ['b', 'c'])
s5 = s5 + s1
s5

a    NaN
b    7.0
c    NaN
dtype: float64

In [81]:
s2 = pd.Series([4.0, 5.0, 6.0, 7.0], index = ['a', 'a', 'c', 'a'])
s1 = pd.Series([1.0, 2.0, 3.0], index = ['a', 'a', 'b'])
s3 = s1 + s2
s3

a    5.0
a    6.0
a    8.0
a    6.0
a    7.0
a    9.0
b    NaN
c    NaN
dtype: float64

In [90]:
s = pd.Series(np.arange(0, 5), index = list('abcde'))
# больше меньше равно 
logic_res = s >= 3
s[logic_res]
s[s >= 3]

d    3
e    4
dtype: int32

In [92]:
# для условия в множество логических оперторов синтиаксис:
s[(s >= 2) & (s <= 5)]

c    2
d    3
e    4
dtype: int32

In [93]:
#операция спрашивает, все ли элементы списка больше либо равны 0
(s >= 0).all()

True

In [ ]:
#операция спрашивает, есть ли хоть один элемент меньше 2
(s < 2).any()

In [ ]:
#выводит количество значений меньше 2
(s < 2).sum()

In [103]:
np.random.seed(12345)
s = pd.Series(np.random.randn(5))
# кол-во назначаемых индексов должно совпадать с количеством строк
s.index = ['a', 'b', 'c', 'd', 'e']
# при реиндексации добавлении нового индекса, значение становится NaN, 
# при этом остальные которые не указаны в операторе reindex отбрасываются
s2 = s.reindex(['a', 'c', 'g'])
s2

a   -0.204708
c   -0.519439
g         NaN
dtype: float64

In [105]:
# тип индексов разный (int, str)
s1 = pd.Series([1, 2, 3], index = [0, 1, 2])
s2 = pd.Series([3, 4, 5], index = ['0', '1', '2'])
# для замены str на int :
s2.index = s2.index.values.astype(int)
s3 = s1 + s2
s3

0    4
1    6
2    8
dtype: int64

In [107]:
# чтобы вставить значение вместо пустого NaN, при добавлении новых индексов в reindex
s2.reindex(['a', 'f'], fill_value = 0)

a    0
f    0
dtype: int64

In [110]:
s = pd.Series(['red', 'green', 'blue'], index = [0, 3, 5])
# метод "ffill" подставляет последнее известное значение. "bfill" применяет обратное значение 
s.reindex(np.arange(0, 7), method = 'ffill')

0      red
1      red
2      red
3    green
4    green
5     blue
6     blue
dtype: object

In [115]:
np.random.seed(12345)
s = pd.Series(np.random.randn(3), index = ['a', 'b', 'c'])
s['d'] = 100
# удаление строки по индексу, для добавления pd.concat
del(s['a'])
s

b      0.478943
c     -0.519439
d    100.000000
dtype: float64

In [120]:
copy = s.copy()
slice = copy[:2]
slice ['b'] = 0
copy

b      0.000000
c     -0.519439
d    100.000000
dtype: float64